<div class="col-sm-8 col-sm-offset-2">
  <h1>Listing Cohorts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= link_to "#{cohort.name}", cohort %></td>
        <td>
          <% all_students = cohort.users %>
          <% all_students.each do |student| %>
              <% if student != all_students.last %>
                <%= link_to student.name, student %>,
              <% else %>
                <%= link_to student.name, student %>
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cohort',  new_cohort_path, :class => "btn btn-primary" %>
</div>
