<div class="col-sm-4"></div>
<div class="col-sm-4 border">
<h1>Editing Meeting</h1>

<%= render 'form' %>

<%= link_to 'Show', @meeting %> |
<%= link_to 'Cancel', meetings_path %>
</div>
<div class="col-sm-4"></div>
