<div class='row'>
  <h1 class="aboutHeader">About Our Team</h1>
</div>
<div class='row text-center'>
  <div class='col-sm-4'>
    <h3 class='about_name'>Fiona</h3>
    <img class='about_img' src='/assets/Fiona.jpg'/>
    <p class='about_info'>Fiona is an aspiring full-stack web developer and student at LEARN academy, where she's learning to use Ruby on Rails, JavaScript, and more.</p>

    <p class='about_info'>Previously, she spent 5 years teaching English as a second language to adult students from around the world. She chose to make the change from teaching because she wanted to enter a field where she could apply my natural talent for analytical thinking and face a new challenge every day.</p>

    <p class='about_info'>She's looking forward to applying my new skills as a junior dev, working with a great company to build beautiful and useful apps. </p>
  </div>
  <div class='col-sm-4'>
    <h3 class='about_name'>Ramin</h3>
    <img class='about_img' src='/assets/Ramin.jpg'/>
    <p class='about_info'>Ramin is a web application developer with a foundation in both front-end and back-end designs. He is a recently CompTIA Network + certified professional with an MBA and over five years of experience working in troubleshooting computer hardware and software, installation, configuration, imaging, development and deployment of desktop and laptop systems.</p>
  </div>
  <div class='col-sm-4'>
    <h3 class='about_name'>Mina</h3>
    <img class='about_img' src='/assets/Mina.jpg'/>
    <p class='about_info'>Mina is a full-stack web developer with a passion for developing educational tools and helping social-impact organizations have the platforms they need to meet their goals. As mentor to high school students for 5+ years, She was met with the challenge of showing them that math is still very useful to their everyday lives. She turned to programming not only as a means of creating tools for them to learn with but also to demonstrate how simple concepts they were introduced to in classrooms are used in programming. Now, She cannot help but see everything (social interactions included) through an if-else lens.<p>

    <p class='about_info'>Mina's journey into the world of coding and developing has been amazing with the help of the nurturing village at LEARN Academy. She's excited to experience what's next.</p>
  </div>
</div>
<div class='row text-center'>
  <div class='col-sm-4'>
    <h3 class='about_name'>Sean</h3>
    <img class='about_img' src='/assets/Sean.jpg'/>
    <p class='about_info'>Sean is currently a full-time full-stack web development student at LEARN Academy in San Diego. He has a background in Electrical Engineering with experience in academic research, testing, and system integration. He has always had an interest in the web from a young age and decided to pursue web development to marry his interest in both design and engineering. He wants to build elegant, functional, and interactive web applications.</p>
  </div>
  <div class='col-sm-4'>
    <h3 class='about_name'>Mike</h3>
    <img class='about_img' src='/assets/Mike.jpg'/>
    <p class='about_info'>Mike is an aspiring Full Stack Developer with 3.5 years of experience in the Medical Device industry. His on the job experience building SQL database queries, writing JMP scripting tools to efficiently manipulate data, and designing simple interfaces to reduce the turnaround time of routine procedures has sparked his interest in computer programming. He is currently pursuing a software/web development career in the Tech or Biotech industries.</p>
  </div>
  <div class='col-sm-4'>
    <h3 class='about_name'>Josh</h3>
    <img class='about_img' src='/assets/Josh.jpg'/>
    <p class='about_info'>Josh is an aspiring full-stack web developer with a background in maintenance. He started tinkering with programming in my spare time, and discovered that it fed his appetite for creativity. When his appreciation for coding grew, he enrolled in a full-stack web development boot camp. He is passionate in creating functional yet aesthetic websites.</p>
  </div>
</div>
