
<div class='row'>
  <div class='col-sm-12'>
    <h2>About Our Team</h2>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4 aboutcolumn'>
    <h3 class='about_name'>Fiona Voss</h3>
    <img class='about_img' src='/assets/Fiona_fixed.jpg'/>
    <p></p>
    <p class='about_info'>Fiona is a full-stack web developer with a passion for quality and usability.</p>

    <p class='about_info'>Her background is in art and education. She chose to make the transition to web development after five years of teaching English as a second language because she wanted to challenge herself more and apply her talent for analytical thinking.</p>
    <p class="socialmedia">
      <a href="https://github.com/FionaVoss"><i class="fa fa-2x fa-github-alt socialicon" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/fionavoss"><i class="fa fa-2x fa-linkedin socialicon" aria-hidden="true"></i></a>
      <a href="https://twitter.com/fionajvoss"><i class="fa fa-2x fa-twitter socialicon" aria-hidden="true"></i></a>
    </p>
  </div>
  <div class='col-sm-4 aboutcolumn'>
    <h3 class='about_name'>Ramin Meshgali</h3>
    <img class='about_img' src='/assets/Ramin_fixed.jpg'/>
    <p></p>
    <p class='about_info'>Ramin is a web application developer with a foundation in both front-end and back-end designs. He is a recently CompTIA Network + certified professional with an MBA and over five years of experience working in troubleshooting computer hardware and software, installation, configuration, imaging, development and deployment of desktop and laptop systems.</p>
    <p class="socialmedia">
      <a href="https://github.com/rmesghali"><i class="fa fa-2x fa-github-alt socialicon" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/raminmesghali"><i class="fa fa-2x fa-linkedin socialicon" aria-hidden="true"></i></a>
      <a href="https://twitter.com/Bowl_of_Ramin"><i class="fa fa-2x fa-twitter socialicon" aria-hidden="true"></i></a>
    </p>
  </div>
  <div class='col-sm-4 aboutcolumn'>
    <h3 class='about_name'>Mina Chuong</h3>
    <img class='about_img' src='/assets/Mina_fixed.jpg'/>
    <p></p>
    <p class='about_info'>Mina is a full-stack web developer with a passion for developing educational tools and helping social-impact organizations have the platforms they need to meet their goals. She turned to programming to create tools for students she tutored to demonstrate how simple math concepts are used in programming. Mina's journey into the world of coding has been amazing with the help of the nurturing village at LEARN Academy. She's excited to experience what's next.<p>

    <p class="socialmedia">
      <a href="https://github.com/minachuong"><i class="fa fa-2x fa-github-alt socialicon" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/minachuong"><i class="fa fa-2x fa-linkedin socialicon" aria-hidden="true"></i></a>
      <a href="https://twitter.com/minachuong"><i class="fa fa-2x fa-twitter socialicon" aria-hidden="true"></i></a>
    </p>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4 aboutcolumn'>
    <h3 class='about_name'>Sean Fernandez</h3>
    <img class='about_img' src='/assets/Sean_fixed.jpg'/>
    <p></p>
    <p class='about_info'>Sean is currently a full-time full-stack web development student at LEARN Academy in San Diego. He has a background in Electrical Engineering with experience in academic research, testing, and system integration. He has always had an interest in the web from a young age and decided to pursue web development to marry his interests in both design and engineering. He wants to build elegant, functional, and interactive web applications.</p>
    <p class="socialmedia">
      <a href="https://github.com/scfernz"><i class="fa fa-2x fa-github-alt socialicon" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/scfernz"><i class="fa fa-2x fa-linkedin socialicon" aria-hidden="true"></i></a>
      <a href="https://twitter.com/scfernz21"><i class="fa fa-2x fa-twitter socialicon" aria-hidden="true"></i></a>
    </p>
  </div>
  <div class='col-sm-4 aboutcolumn'>
    <h3 class='about_name'>Mike Guerrero</h3>
    <img class='about_img' src='/assets/Mike_fixed.jpg'/>
    <p></p>
    <p class='about_info'>Mike is an aspiring Full Stack Developer with 3.5 years of experience in the Medical Device industry. His on-the-job experience building SQL database queries, writing JMP scripting tools to efficiently manipulate data, and designing simple interfaces to reduce the turnaround time of routine procedures sparked his interest in computer programming. He is currently pursuing a software/web development career in the Tech or Biotech industries.</p>
    <p class="socialmedia">
      <a href="https://github.com/mguerrero8816"><i class="fa fa-2x fa-github-alt socialicon" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/mguerrero8816"><i class="fa fa-2x fa-linkedin socialicon" aria-hidden="true"></i></a>
      <a href="https://twitter.com/mguerrero8816"><i class="fa fa-2x fa-twitter socialicon" aria-hidden="true"></i></a>
    </p>
  </div>
  <div class='col-sm-4 aboutcolumn'>
    <h3 class='about_name'>Josh Lapid</h3>
    <img class='about_img' src='/assets/Josh_fixed.jpg'/>
    <p></p>
    <p class='about_info'>Josh is an aspiring full-stack web developer with a background in maintenance. He started tinkering with programming in his spare time, and discovered that it fed his appetite for creativity. When his appreciation for coding grew, he enrolled in a full-stack web development boot camp. He is passionate about creating functional yet aesthetic websites.</p>
    <p class="socialmedia">
      <a href="https://github.com/joshlapid"><i class="fa fa-2x fa-github-alt socialicon" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/joshua-lapid"><i class="fa fa-2x fa-linkedin socialicon" aria-hidden="true"></i></a>
      <a href="https://twitter.com/josh_lapid"><i class="fa fa-2x fa-twitter socialicon" aria-hidden="true"></i></a>
    </p>
  </div>
</div>
