<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1 class="display-3 heading">Welcome to Paul's Planner</h1>
      <p>A task and meeting manager</p>
      <br><br>
    </row>
    <div class="row">
      <div class="btn btn-default" id="student_btn">
        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> <%= link_to "Students", user_facebook_omniauth_authorize_path %>
      </div>
      <div class="btn btn-default" id="teacher_btn">
        <i class="fa fa-book fa-2x" aria-hidden="true"></i> <a href="users/sign_in">Teachers</a>
      </div>
      <div class="col-sm-10">
      </div>
    </div> <!-- ends row -->

  </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <h2 class="text-center">What we do</h2>
    <hr class="scissors">
    <div class="col-sm-8 col-sm-offset-2">
      <h4 class="text-center">We aim to facilitate effective collaboration between student and teachers. With Paul's planner we can coordinate meetings and create tasks which can be monitored.</h4>
    </div>
  </div>
  <div class="row">
    <h2 class="text-center">How it works</h2>
    <hr class="scissors">
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3 text-center">
      <img src="/assets/landing_icon_calendar.png">
      <h3>Meetings</h3>
      <p>Students request meetings with teachers.</p>
    </div>
    <div class="col-sm-2 text-center">
      <img src="/assets/landing_icon_task.png">
      <h3>Tasks</h3>
      <p>Teachers assign tasks to students.</p>
    </div>
    <div class="col-sm-2 text-center">
      <img src="/assets/landing_icon_cohort.png">
      <h3>Cohorts</h3>
      <p>Teachers manage students and cohorts.</p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div> <!-- End Container -->
<footer></footer>
