<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
    <h1 class="display-3">Welcome to Paul's Planner</h1>
    <p>A task and meeting manager</p>
          <div class="btn btn-default"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> <%= link_to "Students", user_facebook_omniauth_authorize_path %></div>
        <div class="btn btn-default" id="teacher_btn">
        <i class="fa fa-book fa-2x" aria-hidden="true"></i> <a href="users/sign_in">Teachers</a>
      </div>
    </div> <!-- End row -->
  </div>
</div>

<div class="container-fluid">
<h2 class="text-center">What we do</h2>
<hr class="scissors">
<h4 class="text-center">We aim to facilitate effective collaboration between student and teachers. With Paul's planner we can coordinate meetings and create tasks which can be monitored.</h4>
</div> <!-- End Container -->
