<div class="jumbotron">
  <h1>Welcome to Paul's Planner</h1>
</div>
<h2>Mission Statement</h2>
<h2 class="subtext">(Retire Paul's paper notebook)</h2>
<p>We aim to facilitate effective collaboration between student and teacher by organizing meetings, and creating and monitoring tasks.</p>
<p>Students: <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></p>
<p>See <a href="#">Paul</a> about registering as a <a href="#">teacher</a></p>
