<h1>Profile (<%= current_user.roles.first.name %>)</h1>
<p>Find me in app/views/teacher_interface/index.html.erb</p>
<%= current_user.email %>
<% if current_user.has_role?(:teacher) %>
<%= render 'teacher_interface/pending_teachers' %>
<% end %>
