<div class="col-sm-8 col-sm-offset-2">
<h3>Provisional Accounts</h3>
<% provisional_accounts = User.with_role :provisional %>
<% provisional_accounts.each do |account| %>
  <form action="/user/approve_account" method="post">
    <input type="hidden" name="approved_id" value="<%= account.id %>"/>
    <input type="submit" value="Approve"/> <%= account.email %>
  </form>
<% end %>
</div>
