<!-- <h1>My Meetings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%# @meetings.each do |meeting| %>
      <tr>
        <td><%#= meeting.title %></td>
        <td><%#= meeting.description %></td>
        <td><%#= meeting.completed %></td>
        <td><%#= meeting.user.email %></td>
        <td><%#= link_to 'Show', meeting %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->
