<div class="col-sm-8 col-sm-offset-2">
<h1>My Meetings</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
    <% if meeting.users.include?(current_user) %>
      <tr>
        <td>
          <%= link_to meeting.date, meeting %>
          <% if meeting.cancelled %>
            |<strong class="red"> Cancelled</strong>
          <% end %>

        </td>
        <td><%= meeting.location %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
