<div class="col-sm-8 col-sm-offset-2">
<h1>Today's Meetings</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
    <!-- maybe we can get todays meetings by including ones with dates less than tomorrow (Date.today + 1) and greater than yesterday (Date.today -1) ? -->
    <% if meeting.users.include?(current_user) %>
      <tr>
        <td><%= link_to meeting.date, meeting %></td>
        <td><%= meeting.location %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>
