.about_img{
  width: 100%;
}

body {
}

.socialmedia {
  text-align: center;
}

.socialicon {
  margin-left: 20px;
  margin-right: 20px;
  color: #5B5B5B
}

.socialicon:hover {
  color: #838383
}

.aboutcolumn {
  padding-left: 20px;
  padding-right: 20px
}
