// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: rgba(248, 248, 248, 1);
$highlight-color: darken(#9DC3C1, 50%);
$dark-color: #6E7783;

$main-font: 'Raleway', sans-serif;

body {
  background-color: $primary-color;
  font-family: $main-font;
}
.container-fluid {
  width:100%;
}
.jumbotron {
  margin-left: -20px;
  width:110%;
  margin-top: -20px;
  padding-left: 15px;
  height: 500px;
  background-image: url(bg2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  h5, h1 {
    text-shadow: 0 0 0.4em #000;
    color: #FFF;
  }

  p {
    color: $highlight-color;
    text-shadow: 0 0 0.4em #FFF;
  }
  .btn {
    a {
      font-size: 2em;
      text-decoration: none;
      color: black;
      &:hover {
        color: white;
      }
    }
    &:hover {
      background-color: black;
      color: white;
      a {
        color: white;
      }
    }
  }
  #teacher_btn, #student_btn {
    margin-bottom: 10px;
    margin-left: 30px;
    color: black;
    &:hover {
      color: white;
    }
  }
}

  h4 {
    color: grey;
  }

hr.scissors {
  border-top: 1px dashed #8c8b8b;
}
hr.scissors:after {
  content: '\002702';
  display: inline-block;
  position: relative;
  top: -12px;
  left: 40px;
  padding: 0 3px;
  background: $primary-color;
  color: #8c8b8b;
  font-size: 18px;
}

footer {
  height: 30px;
}
