.border {
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #bfbebe;
  border-radius: 20px;
  background-color: lighten(#AABBCC, 15%);
  box-shadow: 2px 2px 5px grey;
}

#googleMap {
  // max-width: 600px;
  height: 300px;
  width: 300px;
  display: flex;
}

// .meeting_info {

// }

.flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon {
  height: 75px;
  width: 75px;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
  // opacity: 0.75;
}

@media (max-width: 500px){
  .icon {
    height: 50px;
    width: 50px;
  }
  .btn-margin {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.padding-left {
  padding-left: 20px;
}
