.task_status {
  text-align: left;
  width: 7%;
}

.pictureButton {
  text-align: center;
  padding-top: 10px;
}

#bio {
  margin-bottom: 10px;
  // border-bottom: solid thin #C7C5BD;
}

.profile_pic {
  margin-right: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 150px;
  float: left;
}

.edit_profile_pic {
  margin-right: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 150px;
}

.top_margin {
  margin-top: 50px;
}

.empty_check {
  margin: -6px 0 0 15px;
  padding: 0;
  background-color: #f8f8f8;
  border: none;
  font-size: 1.5em;
}

.checked {
  margin: -6px 0 0 15px;
  font-size: 1.5em;
}

.empty_check2 {
  margin: -6px 0 0 25px;
  padding: 0;
  background-color: #f8f8f8;
  border: none;
  font-size: 1.5em;
}

.checked2 {
  margin: -6px 0 0 25px;
  font-size: 1.5em;
}
