.task_status {
  text-align: left;
  width: 7%;
}

.pictureButton {
  text-align: center;
  padding-top: 10px;
}

.empty_check {
  margin: -6px 0 0 15px;
  padding: 0;
  background-color: #f8f8f8;
  border: none;
  font-size: 1.5em;
}

.checked {
  margin: -6px 0 0 15px;
  font-size: 1.5em;
}
