.task_status {
  text-align: left;
  width: 7%;
}

.pictureButton {
  text-align: center;
  padding-top: 10px;
}

#bio {
  margin-bottom: 10px;
  border-bottom: solid thin #C7C5BD;
}

.profile_pic {
  border-radius: 20px;
  width: 150px;
  float: left;
}

.top_margin {
  margin-top: 40px;
}
