<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid" style="padding-left: 15px; padding-right: 15px;">
        <div class="navbar-header"><a class="navbar-brand" href="/"><span class="green">Paul&#x27;s Planner</span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user.nil? %>
                <li><a href="/landing/about">About</a></li>
                <%= render 'layouts/logout' %>
                <% elsif current_user.nil? || current_user.has_role?(:teacher)  %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/user/index">My Profile</a></li>
                      <li><a href="/users/edit">Edit Profile Settings</a></li>
                    </ul>
                    <li><a href="/tasks">Tasks</a></li>
                    <li><a href="/meetings">Meetings</a></li>
                    <li><a href="/students/index">Students</a></li>
                    <li><a href="/cohorts">Cohorts</a></li>
                    <li><a href="/landing/about">About</a></li>
                    <% provisional_accounts = User.with_role :provisional %>
                    <% if provisional_accounts.length > 0 %>
                    <li><a id="provisional" href="/provisional/index"><span class="red">Provisional Accounts (<%= provisional_accounts.length %>)</span></a></li>
                    <% end %>
                    <%= render 'layouts/logout' %>
                <% else current_user.nil? || current_user.has_role?(:student)  %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/user/index">My Profile</a></li>
                    <li><a href="/users/edit">Edit Profile Settings</a></li>
                  </ul>
                  <li><a href="/meetings/new" id= "navbar_meeting">New Meeting</a></li>
                  <li><a href="/landing/about">About</a></li>
                  <%= render 'layouts/logout' %>
                <% end %>
            </ul>
        </div>
    </div>
</div>
