<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="/">Paul&#x27;s Planner</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user.nil? %>
                <%= render 'layouts/logout' %>
                <% elsif current_user.nil? || current_user.has_role?(:teacher)  %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/user/index">My Profile</a></li>
                      <li><a href="/users/edit">Edit Profile Settings</a></li>
                    </ul>
                    <li><a href="/tasks">Tasks</a></li>
                    <li><a href="/meetings">Meetings</a></li>
                    <li><a href="/cohorts">Cohorts</a></li>
                    <% provisional_accounts = User.with_role :provisional %>
                    <% if provisional_accounts.length > 0 %>
                    <li><a href="/provisional/index">Provisional Accounts (<%= provisional_accounts.length %>)</a></li>
                    <% end %>
                    <%= render 'layouts/logout' %>
                <% else current_user.nil? || current_user.has_role?(:student)  %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/user/index">My Profile</a></li>
                    <li><a href="/users/edit">Edit Profile Settings</a></li>
                  </ul>
                  <li><a href="/meetings/new">New Meeting</a></li>
                  <%= render 'layouts/logout' %>
                <% end %>
            </ul>
        </div>
    </div>
</div>
